.font-raleway{
    font-family: "Raleway", sans-serif;

}

.banner{
background-image: url("../images/banner.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 95vh;

}